 <!-- في المكان ده هحط footer -->
      <!-- Main Footer -->
      <footer class="main-footer">
        <strong>Copyright &copy; 2020-2021 <a href="">MAMMASSE Amine</a>.</strong>
        All rights reserved.
        <div class="float-right d-none d-sm-inline-block">
            <a target="_blank" class="text-danger" href=""><i class="fab fa-lg fa-youtube"></i></a>
            <a target="_blank" href=""><i class="fab fa-lg ml-1 fa-facebook"></i></a>
            <a target="_blank" class="text-warning" href=""><i class="fab fa-lg ml-1 fa-instagram"></i></a>
        </div>
      </footer>